.App 
{
  text-align: center;
}

.addButton
{
  position: absolute;
  left: 100px;
  top: 300px;
}

.addMemberTextArea
{
  position: absolute;
  font-size: 16px;
  border-radius: 4px;
  background: #000000;
  color: #000000;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 24px;
}

.clearButton
{
  position: absolute;
  left: 100px;
  top: 50px;
}

.saveButton
{
  position: absolute;
  left: 200px;
  top: 50px;
}

.closeButton
{
  position: absolute;
  left: 300px;
  top: 50px;
}

.shareButton
{
  position: absolute;
  left: 1300px;
  top: 50px;
}

.memberButton
{
  position: absolute;
  left: 0px;
  top: 0px;
}

.line
{
  position: absolute;
  width: 112px;
  height: 5px;
  border-bottom: 3px solid rgb(0, 0, 0);
}